@import url('https://fonts.googleapis.com/css2?family=Lora&family=Oswald:wght@400;500&family=PT+Serif&family=Playfair+Display&family=Poppins:wght@200&family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@300;400;500&family=Oswald:wght@400;500&family=PT+Serif&family=Playfair+Display&family=Poppins:wght@200&family=Slabo+27px&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
.container {
    width: 20%;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}
.card {
    border: none;
  }